.body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
}

#header {
    text-align: center;
    color: black;
    border-bottom: 3px solid black;
}

.textArea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
    width:100%;
    min-height: 80px;
}

.description{
    white-space: pre-wrap;
    padding:0;
  }

.time-block {
    text-align: center;
}

.row {
    white-space: pre-wrap;
    min-height: 80px;
    border-top: 1px solid white;
    margin-top: 2px;
}

.hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
}

.dayHour {
    margin-bottom: 0;
}

.past {
    background-color: orange;
    color: white;
    cursor: pointer;
}

.present {
    background-color:white
    color:black;
    cursor: pointer;
    border: solid 1px black;
}

.future {
    background-color:white
    color: black;
    cursor: text;
    cursor: pointer;
    border: solid 1px black;
}

.saveBtn {
    background-color: red;
    color: white;
    cursor: pointer;
    min-height: 80px;
    color: white;
    cursor: pointer;
    position: relative;
}

